<div class="Champomi-container">
  <h1 class="title">Liste des utilisateurs</h1>
  <div class="Champomi-grid">
    <div class="Champomi-card" *ngFor="let Champomi of Champomi">
      <div class="Champomi-header">
        <h2>{{ Champomi.name }}</h2>
        <p class="Champominame">{{ Champomi.Champominame }}</p>
      </div>
      <div class="Champomi-info">
        <p><strong>Email :</strong> {{ Champomi.email }}</p>
        <p><strong>Téléphone :</strong> {{ Champomi.phone }}</p>
        <p><strong>Adresse :</strong> 
          {{ Champomi.address.street }}, {{ Champomi.address.city }} ({{ Champomi.address.zipcode }})
        </p>
        <p><strong>Société :</strong> {{ Champomi.company.name }}</p>
        <p><strong>Slogan :</strong> "{{ Champomi.company.catchPhrase }}"</p>
        <p><strong>Website :</strong> 
        </p>
      </div>
      <div class="Champomi-footer">
        <button class="action-btn">Voir Profil</button>
      </div>
    </div>
  </div>
</div>
